html {
  background: black;
  color: white;
}

body {
  padding: 0;
  margin: 0;
}

input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: solid 2px white;
  color: white;
  outline: none;
  font-weight: 700;
  padding: 5px;
}

p {
  color: rgb(255, 255, 190);
  font-weight: 700;
}